/* General Styles */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
  background: rgb(38,30,181);
background: linear-gradient(90deg, rgba(38,30,181,1) 0%, rgba(29,29,187,1) 51%, rgba(0,212,255,1) 100%);
}

/* Login Container */
.login-container {
    text-align: center;
    background: #ffffff;
    border-radius: 30px;
    padding: 30px 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 300px;
  backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      min-height: 250px;
      width: 300px;
      border-radius: 1rem;
      background: rgb(255, 255, 255, 0.3);
      padding: 1.5rem;
      color: #fff;
}

.login-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}

/* Input Fields */
.input-container {
    margin-bottom: 15px;
}

.input-container input {
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
   backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);

      border-radius: 1rem;
      background: rgb(255, 255, 255, 0.3);
      padding: 1.5rem;
      color: #fff;
  height:5px;
}

.input-container input:focus {
    border-color: #007bff;
}

/* Login Button */
.login-button {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #0056b3;
}